<p-table [value]="subscriptions" responsiveLayout="stack" size="large">
    <ng-template #header>
        <tr>
            <th>Tier Name</th>
            <th>Price</th>
            <th>Duration Days</th>
            <th>Status</th>
            <th>Started At</th>
            <th>Expires At</th>
        </tr>
    </ng-template>
    <ng-template #body let-subscription>
        <tr>
            <td data-label="Tier Name">{{ subscription.subscription_tier.name }}</td>
            <td data-label="Price">{{ subscription.subscription_tier.price }}</td>
            <td data-label="Duration Days">{{ subscription.subscription_tier.duration_days }}</td>
            <td data-label="Status">{{ subscription.status }}</td>
            <td data-label="Started At">{{ subscription.started_at }}</td>
            <td data-label="Expires At">{{ subscription.expires_at }}</td>
        </tr>
    </ng-template>
</p-table>